<h2>编辑学员</h2>

<form action="/doEdit" method="post">


用户id： <input  type="text" name="id" value=<%=list._id %>  >

<br/>

用户名： <input  type="text" name="name" value=<%=list.name %>  >

<br/>

年 龄： <input  type="text" name="age" value=<%=list.age %>  >

<br/>

<input type="submit" value="提交"/>

</form>